.title {
    text-align: center;
    padding-top: 50px;
    font-family: papyrus;
}

.todo-item-input {
    background-color: transparent;
    width: 500px;
}

li {
    font-family: papyrus;
    padding-right: 20px;
}

button {
    font-family: papyrus;
    color: brown;
    background-color: transparent;    
    border-color: transparent;
}

button:hover {
    cursor: pointer;
}